[submodule "data"]
	path = data
	url = git@github.com:jaredballou/insurgency-data.git
[submodule "utilities/thirdparty/steam-condenser-php"]
	path = utilities/thirdparty/steam-condenser-php
	url = git@github.com:jaredballou/steam-condenser-php.git
[submodule "theaters"]
	path = theaters
	url = git@github.com:jaredballou/insurgency-theaters.git
[submodule "utilities/thirdparty/php-vpk-reader"]
	path = utilities/thirdparty/php-vpk-reader
	url = git@github.com:jaredballou/php-vpk-reader.git
[submodule "utilities/thirdparty/vtf2tga"]
	path = utilities/thirdparty/vtf2tga
	url = git@github.com:tranek/vtf2tga.git
[submodule "utilities/thirdparty/VTFLib"]
	path = utilities/thirdparty/VTFLib
	url = git@github.com:panzi/VTFLib.git
[submodule "utilities/thirdparty/libtxc_dxtn"]
	path = utilities/thirdparty/libtxc_dxtn
	url = git://people.freedesktop.org/~mareko/libtxc_dxtn
