{{Infobox/Weapon
| float          = 
| name           = AC-556
| image          = [[File:INS_Mini-14.png|300px]]
| slot           = [[Primary]]
| weaponclass    = Carbine
| firemode       = Semi-automatic,<br>3-round burst, <br>Automatic
| factionused    = [[File:Fac_sec.png|20px]] [[Security Forces]]
| classused      = Rifleman, <br>Designated Marksman, <br>Recon
| console        = 
| damage         = 110-53.3
| DDS            = 10 "110"
| DDSh           = 2700 "80"
| DDE            = 12,000 "46"
| mult           = 
| radius         = 
| rof            = 600
| range          = 10,000
| cartridge      = 5.56x45mm
| magsize        = 20
| startammo      = 20+60<br>20+100<small>([[Chest_Rig|CR]])</small><br>20+120<small>([[Chest_Carrier|CC]])</small>
| maxammo        = 
| reload         = 3.13s loaded<br>4.60s empty
| recoil         = 2.7-2.9 vertical<br>0.7 left<br>1.4 right
| center         = 
| spread         = 0.19
| sway           = 
| supp           = 50%
| pen            = 10 "600"<br>12,000 "175"
| cost           = 2
| length         = 20
| barrellength   = 20
| weight         = 2.9kg
| weightpoints   = 160/640
| attoptic       = [[Holographic sight]], <br> [[Red Dot Sight]], <br>[[2x Red Dot Scope]], <br>[[C79 scope]], <br>[[Kobra sight]](Coop), <br>[[PO 4x24]](Coop)
| attbarrel      = [[Heavy Barrel]]
| attside        = [[Flashlight]], <br>[[Laser Sight]]
| attunder       = [[Foregrip]]
| attammo        = [[Tracer Ammo]], <br> [[Hollow-Point (HP) Ammo|HP Ammo]], <br>[[Armor Piercing (AP) Ammo|AP Ammo]]
| HUD            = 
| sound          = 
| video          = 
}}
