{{Infobox/kit
| image       = [[File:INS Security Rifleman.png|250px]]
| name        = Security Forces: Rifleman
| squad       = [A] Assault Squad
| slots       = 2
| weap1type   = 
| weap1       = [[M16A4]]<small> (1 Supply)</small><br> [[AC-556]]<small> (2 Supply)</small><br> [[M4A1]]<small> (4 Supply)</small><br>
| explosive   = [[M18 Smoke]]<small> (1 Supply)</small> <br> [[M84 Flash]]<small> (1 Supply)</small> <br> [[M67 Frag]]<small> (2 Supply)</small> <br>
| weap2       = [[M9]]<small> (1 Supply)</small> <br>[[Makarov]]<small> (1 Supply)</small>
| explosive 2 = [[M18 Smoke]]<small> (1 Supply)</small> <br> [[M84 Flash]]<small> (1 Supply)</small> <br> [[M67 Frag]]<small> (2 Supply)</small> <br>
| armor       = [[Light Armor]] <br> [[Heavy Armor]]
}}

