{{Infobox/unit
|name = Security Forces
|image = [[File:Fac sec.png|250px]]
|caption = The Security Forces' insignia.
|game = [[File:Insurgency Icon.png|20px]] [[Insurgency]]
|faction = [[File:Flag of the United States.svg|20px]] [[United States]]
|service = 
|type = 
|members = 
}}
